@import "./variables";

.dashboard_wrap {
    display: flex;
    height: calc(100vh - 4rem);
}

.dashboard_inner_wrap {
    width: 75%;
    display: flex;
}

.bugs_dropdown_wrap {
    display: none;
}

#bugForm {
    background: $purple;
}

@media screen and (max-width: $br-large) {
    .dashboard_wrap {
        flex-direction: column;
    }
    .dashboard_inner_wrap {
        width: 100%;
        border-top: 2px solid $ui-x-dark;
        flex: 1;
    }
}

@media screen and (max-width: $br-med) {
    .bugs_dropdown_wrap {
        display: flex;
        justify-content: center;
        max-width: 90%;
        margin: 0 auto;
    }
    .dashboard_inner_wrap {
        flex-direction: column;
        border: none;
        margin-top: 1rem;
    }
}
