@import "./variables";

.expanded_wrap {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 3rem 2rem;
    color: white;
    box-shadow: $shadow-low;
    background: $ui-dark;
    h2 {
        font-size: 1.6rem;
        font-weight: 700;
        text-shadow: $text-shadow;
        margin: -0.5rem 0 1rem 0;
    }
}

.bug_empty_wrap {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.25;
}

.expanded_bug_icon {
    font-size: 4rem;
}

@media screen and (max-width: $br-med) {
    .expanded_wrap {
        width: 100%;
        background: $ui-dark;
        margin-top: 1rem;
        border-top: 1px solid $ui-highlight;
        box-shadow: none;
    }
}
