@import "./variables";

.navbar {
    background: $ui-med;
    box-shadow: $shadow-low;
    padding: 0 3rem;
    height: 4rem;
}

.navbar-item,
.navbar-link {
    color: white;
    text-shadow: $text-shadow;
}

.navbar-burger {
    color: white;
}
