/*** FONTS ***/
$font-accent: "Fira Mono", monospace;

/*** UTIL CLASSES ***/
.severity--warning {
    background: yellow;
}

.severity--minor {
    background: orange;
}

.severity--breaking {
    background: red;
}
